
<div class="container">
  <h1 class="container-head">
    Intro
  </h1>
  <h2 class="container-content">
    Brings your application to new feature introduction and step-by-step users guide
  </h2>
  <h3 class="container-footer">
    <%= link_to "Login Backstage", intro.new_admin_session_path %>
  </h3>
</div>

<style>
  .container {
    text-align: center;
    width: 45em;
    margin: 4em auto;
  }

  .container-content, .container-footer {
    font-weight: normal;
  }
</style>